name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull Docker image from Docker Hub
        run: sudo docker pull haritha564/nextora:latest

      - name: Stop & remove old container
        run: sudo docker rm -f nextora || true

      - name: Run Docker container
        run: |
          sudo docker run -d \
          -p 80:3000 \
          --restart unless-stopped \
          --name nextora \
          haritha564/nextora:latest
